<div class="container">
  <div class="logo block">
    <img src="assets/icons/ngx-editor.svg" alt="ngx-Editor">
    <h6>A Simple WYSIWYG Editor for Angular 2+</h6>
  </div>

  <div class="editor block">
    <ngx-text-editor [config]="editorConfig"
                    [spellcheck]="true"
                    [(ngModel)]="htmlContent"></ngx-text-editor>
  </div>

  <div *ngIf="htmlContent" class="htmlblock block">
    <h6>HTML Output</h6>
    <div class="html">
      {{ htmlContent }}
    </div>
  </div>
</div>
